<!--<h1>February 2022</h1>-->
<!--<p>Holidays and Daily Observances in the United States</p>-->
<!--<ul cdkDropList id="day-listx" [cdkDropListData]="events" (cdkDropListDropped)="dropEvent($event)" class="event-list">-->
<!--  <li *ngFor="let day of events; trackBy: trackByDay" [id]="'drop-list-' + day.id" cdkDropList [cdkDropListData]="day.events" (cdkDropListDropped)="dropEvent($event)" [cdkDropListConnectedTo]="connectedDropListsIds">-->
<!--    <time [attr.datetime]="day.date">{{ day.day }}</time>-->
<!--    <ul>-->
<!--      <li *ngFor="let event of day.events; trackBy: trackByEvent" cdkDrag>{{ event.name }}</li>-->
<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->


<h1>February 2022</h1>
<p>Holidays and Daily Observances in the United States</p>
<ul cdkDropList id="day-list" [cdkDropListData]="events" (cdkDropListDropped)="dropEvent($event)">
  <li *ngFor="let day of events; trackBy: trackByDay" [id]="'drop-list-' + day.id" cdkDropList [cdkDropListData]="day.events" (cdkDropListDropped)="dropEvent($event)" [cdkDropListConnectedTo]="connectedDropListsIds">
    <time [attr.datetime]="day.date">{{ day.day }}</time>
    <span *ngFor="let event of day.events; trackBy: trackByEvent" cdkDrag>{{ event.name }}</span>
  </li>
</ul>
